* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(92, 10, 92);
  height: 120px;
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}
h1 {
  padding: 35px;
}

h2{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;

}
.Author{
  background-color: silver;
  height: 600px;
  display: grid;
  grid-template: 
  "whitespace authorquotes whitespace" 200px
  "whitespace authorquotes whitespace" 200px
  "whitespace authorquotes whitespace" 200px /
  1fr 500px 1fr;
}

.whitespace{
  grid-area: whitespace;

}
.Quote1{
  grid-area: ;
  border: greenyellow solid;
  padding: 20px;
  background-color: greenyellow;

 }

